@charset "UTF-8";

/*
Base style
*/

body {
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", "sans-serif";
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

/*
header
*/

.header {
  width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-list ul {
  display: flex;
}

.nav-list ul li {
  text-align: right;
  padding-left: 50px;
}

.nav-list ul li a {
  display: block;
}

.header-img {
  position: relative;
  width: 100%;
  text-align: right;
}

.header-discription {
  position: absolute;
  top: 33%;
  left: 13.5%;
  font-size: 20px;
  line-height: 3;
  text-align: left;
}

/*
section
*/

.section {
  width: 1200px;
  margin: 0 auto;
}

.section.section-secounday {
  background-color: #F5F5F5;
  margin: 100px auto 50px;
}

.section-headline {
  text-align: center;
  padding: 50px 0;
  font-size: 30px;
  font-weight: bold;
}

/*
button
*/

.section-button {
  text-align: center;
  padding: 50px 0;
}

.button {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #333;
  border-radius: 10px;
  padding: 10px 20px;
}

.button span {
  padding-right: 5px;
}

.button-icon {
  margin-bottom: 3px;
}

/*
service
*/

.service-list {
  display: flex;
  text-align: center;
}

.service-headline {
  font-size: 20px;
  font-weight: bold;
}

.service-img {
  padding: 30px 0;
}

.service-description {
  padding: 0 20px;
}

.service-description {
  text-align: left;
}

/*
works
*/

.works-card {
  padding: 0 30px;
}

.works-list {
  display: flex;
  justify-content: center;
}

.works-link {
  display: block;
  transition: background-color .25s;
}

.works-link:hover {
  background-color: #ececec;
}

.works-client {
  padding: 5px 0;
  font-weight: bold;
}

/*
blog
*/

.blog-list {
  text-align: center;
}

.blog-item {
  display: inline-block;
  padding-bottom: 50px;
}

.blog-link {
  display: flex;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 25px 0;
  transition: background-color .25s;
}

.blog-link:hover {
  background-color: #ececec;
}

.blog-data {
  padding-right: 50px;
}

.blog-ttl {
  width: 500px;
  text-align: left;
}

/*
footer
*/

.footer {
  color: #fff;
  background-color: #333;
  padding: 50px 0;
  margin-top: 50px;
}

.footer-nav-list {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-nav-list ul {
  display: flex;
}

.footer-nav-list ul li {
  padding-right: 50px;
}

.footer-nav-list ul li a {
  display: block;
}